* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: #3a3842;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #9e9e9e;
  border: 1px solid #9e9e9e;
  color: white;
  padding: 0.5rem 1.5rem;
}

button:hover,
button:active {
  background-color:rgb(141, 140, 140);
  border-color: #b9b4b4;
}
